# Ficheiros do IntelliJ
/.idea/

# Ficheiros do Gradle
/.gradle/
/build/

# Ficheiros do Sistema
*.iml
.DS_Store
local.properties

# Pastas temporárias e de cache (AS MAIS IMPORTANTES QUE FALTAVAM)
/.tmp/
/caches/
/daemon/
/native/

# Ficheiros de Log
*.log

# Outros ficheiros de build do Android
.externalNativeBuild/
.cxx/
/captures/